<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link rel="stylesheet" href="/Monquiz/app/public/css/admin.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container w3-light-grey w3-padding-16">
    <h2 class="w3-center">Estadísticas</h2>
    <div style="width: 50%; margin: auto; text-align: center">
    <a href="/Monquiz/app/administrador/verGraficos">Año</a>
    <a href="/Monquiz/app/administrador/verGraficosMes">Mes</a>
    <a href="/Monquiz/app/administrador/verGraficosSemana">Semana</a>
    <a href="/Monquiz/app/administrador/verGraficosDia">Dia</a>
    </div>
</div>

<form method="post" id="hacer_pdf" action="/Monquiz/app/Administrador/pdf">

    <div class="w3-container container w3-padding-16 w3-row">

        <div class="side w3-light-grey w3-padding">
            <h3>Resultados</h3>
            <div id="resultados">
                <div id="graficoEdad" style="max-width:530px; height:400px"></div>
                <input type="hidden" name="variableEdad" id="variableEdad">
            </div>
        </div>

        <div class="side w3-light-grey w3-padding">
            <h3>Resultados</h3>
            <div id="resultados">
                <div id="graficoPreguntas" style="max-width:530px; height:400px"></div>
                <input type="hidden" name="variablePreguntas" id="variablePreguntas">
            </div>
        </div>

        <div class="side w3-light-grey w3-padding">
            <h3>Resultados</h3>
            <div id="resultados">
                <div id="graficoJugadores" style="max-width:530px; height:400px"></div>
                <input type="hidden" name="variableJugadores" id="variableJugadores">
            </div>
        </div>

    </div>

    <div class="w3-container container w3-padding-16 w3-row">

        <div class="side w3-light-grey w3-padding">
            <h3>Resultados</h3>
            <div id="resultados">
                <div id="graficoPartidas" style="max-width:530px; height:400px"></div>
                <input type="hidden" name="variablePartidas" id="variablePartidas">
            </div>
        </div>

        <div class="side w3-light-grey w3-padding">
            <h3>Resultados</h3>
            <div id="resultados">
                <div id="graficoPorcentaje" style="max-width:530px; height:400px"></div>
                <input type="hidden" name="variablePorcentaje" id="variablePorcentaje">
            </div>
        </div>

        <div class="side w3-light-grey w3-padding">
            <h3>Resultados</h3>
            <div id="resultados">
                <div id="graficoGenero" style="max-width:530px; height:400px"></div>
                <input type="hidden" name="variableGenero" id="variableGenero">
            </div>
        </div>
    </div>

    <div class="w3-container container w3-padding-16 w3-row">
        <div class="side w3-light-grey w3-padding">
            <h3>Resultados</h3>
            <div id="resultados">
                <div id="graficoPais" style="max-width:530px; height:400px"></div>
                <input type="hidden" name="variablePais" id="variablePais">
            </div>
        </div>
    </div>

    <input type="submit" value="Generar PDF" class="w3-btn w3-round-xlarge" style="background-color: #422f25 !important; color: white !important; width: 100%">
</form>

</body>

<div id="grafico" data-datos="{{data}}"></div>


<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/Monquiz/app/public/js/grafico.js"></script>
</html>
