<html>
<p>Boca</p>

<h1>{{#usuariosCreados}}
    <p>{{usuariosCreados}}</p>
{{/usuariosCreados}}</h1>

<h1>{{#partidasCreadas}}
    <p>{{partidasCreadas}}</p>
{{/partidasCreadas}}</h1>

<h1>{{#preguntasCreadas}}
    <p>{{preguntasCreadas}}</p>
{{/preguntasCreadas}}</h1>

<h1>{{#preguntasCreadasUsuario}}
    <p>{{preguntasCreadasUsuario}}</p>
{{/preguntasCreadasUsuario}}</h1>

</html>
