<link rel="stylesheet" href="/Monquiz/app/public/css/editorHome.css">

<div></div>
<div class="main-container">
    <a href="/Monquiz/app/editor/verPreguntas">Todas las preguntas</a>
    <a href="/Monquiz/app/editor/verPreguntasReportadas">Preguntas reportadas</a>
    <a href="/Monquiz/app/editor/verPreguntasPendientes">Preguntas pendientes</a>
    <a href="/Monquiz/app/editor/verCrearPregunta">Crear Pregunta</a>
</div>