
<a href="/Monquiz/app/editor/verPreguntas"> Todas las preguntas</a>
<a href="/Monquiz/app/editor/verPreguntasReportadas"> Preguntas reportadas</a>
<a href="/Monquiz/app/editor/verPreguntasPrendiente"> Preguntas pendientes</a>