<link rel="stylesheet" href="/Monquiz/app/public/css/lobby.css">

<div class="lobbyContainer">
    <h2>High Score:</h2>
    <h1>0{{puntaje}}</h1>
    <h2>Top: 0000000.1%</h2>
    <a href="/Monquiz/app/juego/ruleta/"><button>Jugar Partida</button></a>
    <a href="/Monquiz/app/ranking/mostrarRanking/"><button>Ver Ranking</button></a>
    <button>Sugerir Pregunta</button>
</div>