<link rel="stylesheet" href="/Monquiz/app/public/css/lobby.css">

<div class="lobbyContainer">
    <h2>High Score:</h2>
    <h1>{{puntaje}}</h1>
    <h2>Top: 0000000.1%</h2>
    <button>Jugar Partida</button>
    <button>Ver Ranking</button>
    <button>Sugerir Pregunta</button>
</div>