<link rel="stylesheet" href="/Monquiz/app/public/css/lobby.css">

<div class="lobbyContainer">
    <h2>High Score:</h2>
    {{#puntaje}}
    <h1 class="puntaje">{{puntaje}}</h1>
    {{/puntaje}}
    {{^puntaje}}
        <h1 class="puntaje">0</h1>
    {{/puntaje}}
    <h2>Top: 0000000.1%</h2>
    <a href="/Monquiz/app/partida/crearPartida/"><button>Jugar Partida</button></a>
    <a href="/Monquiz/app/ranking/mostrarRanking/"><button>Ver Ranking</button></a>
    <a href="/Monquiz/app/lobby/mostrarSugerencia/"><button>Sugerir Pregunta</button></a>
</div>