<link rel="stylesheet" href="/Monquiz/app/public/css/login.css">

<div class="body">
<div class="loginConteiner">

    <div class="tituloFormulario">
        <p>Iniciar sesion</p>
    </div>
    <form class="w3-container formulario" method="post" action="/Monquiz/app/usuario/auth">

        <div class="campo">
        <label>Username</label>
        <input class="w3-input w3-border w3-round-large" type="text" name="username">
        </div>

        <div class="campo">
        <label>Password</label>
        <input class="w3-input w3-border w3-round-large" type="password" name="password">
        </div>

        <button class="w3-btn  w3-round-xlarge">Ingresar</button>
    </form>
    <a class="redirectRegister" href="/Monquiz/app/usuario/register">¿No tiene cuenta? Crear una</a>

    {{#error}}
    <div class="error">
        <p>{{error}}</p>
    </div>
    {{/error}}

    <img class="mono" src="/Monquiz/app/public/images/monos/mono_login.png">
</div>

</div>
