<link rel="stylesheet" href="./public/login.css">

<div class="body">
<div class="loginConteiner">

    <div class="tituloFormulario">
        <p>Iniciar sesion</p>
    </div>
    <form class="w3-container formulario">

        <div class="campo">
        <label>Correo</label>
        <input class="w3-input w3-border w3-round-large" type="text">
        </div>

        <div class="campo">
        <label>Contraseña</label>
        <input class="w3-input w3-border w3-round-large" type="text">
        </div>

        <button class="w3-btn  w3-round-xlarge">Ingresar</button>
    </form>
    <img class="mono" src="./public/images/monos/mono_login.png">
</div>

</div>
