<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/Monquiz/app/public/css/perdiste.css">


<div class="body">
    <div class="w3-container w3-padding-large w3-light-grey w3-card w3-round-large w3-margin-top formConteiner" style="max-width:600px; margin:auto;">
        <h2 class="w3-center">Perdiste ¡Mejor suerte la proxima!</h2>
        <a href="/Monquiz/app/lobby/mostrarLobby/"><button>Volver al lobby</button></a>
        <a href="/Monquiz/app/ranking/mostrarRanking/"><button>Ver Ranking</button></a>

        <div class="mono">
            <img src="/Monquiz/app/public/images/monos/mono_perdiste_banana.png">
        </div>
        <div class="monoDos">
            <img src="/Monquiz/app/public/images/monos/mono_perdiste.png">
        </div>

    </div>
</div>