<link rel="stylesheet" href="/Monquiz/app/public/css/pregunta.css">
<div class="conteiner">
    <div class="conteinerPregunta">

        <h1> {{resultado_ruleta}} </h1>

        <img src="/Monquiz/app/public/images/monos/mono_deporte.png" alt="mono deporte" class="mono">

        <h3> Como se llama Messi?</h3>

    </div>

    <div>
        <form action="/Monquiz/app/juego/validarRespuesta" method="post" class="conteinerRespuesta">
            <button type="submit" name="respuesta" value="emiliano">Emiliano</button>
            <button type="submit" name="respuesta" value="igna">Igna</button>
            <button type="submit" name="respuesta" value="nico">Nico</button>
            <button type="submit" name="respuesta" value="lionel">Lionel</button>
        </form>
    </div>
</div>