<link rel="stylesheet" href="/Monquiz/app/public/css/pregunta.css">
<div class="body">
<div class="conteiner" style="background-color: {{color}} ">
    <div class="conteinerPregunta">

        <h1> {{descripcion}} </h1>

        <img src="/Monquiz/app/public/images/monos/mono_{{descripcion}}.png" alt="mono categoria" class="mono">

        <h3> {{pregunta}}</h3>

    </div>

    <div>
        <form action="/Monquiz/app/partida/validarRespuesta" method="post" class="conteinerRespuesta">
            {{#respuestas}}
                <button type="submit" name="respuesta" value="{{id}}">{{respuesta}}</button>
            {{/respuestas}}
        </form>
    </div>
</div>
</div>