<div class="conteinerPregunta">

<h1> NOMBRE CATEGORIA </h1>

<img src="/Monquiz/app/public/images/monos/mono_deporte.png" alt="mono deporte">

    <h3> Como se llama Messi</h3>
    <form action="/Monquiz/app/juego/validarRespuesta">
        <button type="submit" name="emiliano">Emiliano</button>
        <button type="submit" name="igna">Igna</button>
        <button type="submit" name="nico">Nico</button>
        <button type="submit" name="lionel">Lionel</button>
    </form>
</div>