<link rel="stylesheet" href="/Monquiz/app/public/css/ranking.css">
<div class="fondo">
    <div class="ranking-mundial">
        <div class="tabla-contenido">

            <h1 class="titulo-ranking">{{ ranking_mundial_titulo }}</h1>
            <table class="tabla-ranking">
                {{#ranking_mundial}}
                    <th>

                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Puntuacion
                    </th>
                    <tr>
                        <td class="imagen"><img src="{{imagen}}" width="100%"></td>
                        <td><a href="/Monquiz/app/perfil/mostrarPerfil/{{usuario}}">  {{usuario}} </a></td>
                        <td>{{puntuacion}}</td>
                    </tr>
                {{/ranking_mundial}}
            </table>
        </div>
    </div>


</div>

