<link rel="stylesheet" href="/Monquiz/app/public/css/ranking.css">
<div class="fondo">
    <div class="ranking-mundial">
        <div class="tabla-contenido">

            <h1 class="titulo-ranking">Ranking Mundial</h1>
            {{#ranking_mundial}}
            <table class="tabla-ranking">


                    <th>
                        Usuario
                    </th>
                    <th>
                        Puntuacion
                    </th>
                    <tr>

                        <td style="color: black"><a style="text-decoration: none" href="/Monquiz/app/perfil/mostrarPerfil/{{usuario}}">  {{usuario}} </a></td>
                        <td style="color: black">{{puntuacion}}</td>
                    </tr>


            </table>
                {{/ranking_mundial}}
            {{^ranking_mundial}}
                <h1>Se el primero en aparecer en el ranking</h1>
            {{/ranking_mundial}}
        </div>
    </div>


</div>

