<link rel="stylesheet" href="/Monquiz/app/public/css/ruleta.css">
<link rel="stylesheet" href="/Monquiz/app/public/css/ruletaPage.css">

<div class="body">
<div class="conteiner">
    <img class="mono" src="/Monquiz/app/public/images/monos/mono_ruleta.png">

<div class="ui-wheel-of-fortune ruleta">
    <ul>
        <li>Ciencia</li>
        <li>Historia</li>
        <li>Geografia</li>
        <li>Entretenimiento</li>
        <li>Deporte</li>
        <li>Arte</li>
        <li>Mitologia</li>
        <li>Tecnologia</li>
    </ul>
    <button type="button">GIRAR</button>
</div>
</div>
</div>

<script src="/Monquiz/app/public/js/ruleta.js"></script>