<div class="w3-container" style=" min-height: 100vh;">
    <table class="w3-table w3-bordered w3-striped w3-hoverable">
        <thead>
        <tr class="w3-light-grey">
            <th>ID</th>
            <th>Pregunta</th>
            <th>Categoría</th>
            <th>Estado</th>
            <th>Reportada</th>
            <th>Cantidad de vistas</th>
            <th>Cantidad correctas</th>
            <th>Creada por usuario</th>
        </tr>
        </thead>
        <tbody>
        {{#data}}
            <tr>
                <td>{{id}}</td>
                <td>{{pregunta}}</td>
                <td>{{categoria}}</td>
                <td>{{estado}}</td>
                <td>{{reportada}}</td>
                <td>{{cantidad_vista}}</td>
                <td>{{cantidad_correctas}}</td>
                <td>{{creada_usuarios}}</td>
                <td><a href="/Monquiz/app/editor/editarPregunta?id={{id}}">Editar</td>
            </tr>
        {{/data}}
        {{^data}}
            <tr>
                <td colspan="8" class="w3-center">No hay preguntas disponibles.</td>
            </tr>
        {{/data}}
        </tbody>
    </table>
</div>