body {
    background-image: url("../images/fondos/HOME.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lobbyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

.puntaje {
    font-size: 48px;
    margin: 10px 0;
}

button {
    background-color: #422F25;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 50px;
}

button:hover {
    background-color: #A0522D;
}

button:focus {
    outline: none;
}