body{
    background-image: url("../images/fondos/LOGIN.jpeg");
}

.loginConteiner{
    width: 27.8em;
    height: 43.4em;
    margin: auto;
    background-color: #be945b;
    position: relative;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.tituloFormulario{
    text-align: center;
}

label{
    font-size: large;
}

.tituloFormulario{
    font-size: large;
}

.campo{
    margin: 1em 0em 1em 0em;
}

button{
    background-color: #422f25 !important;
    color: white !important;

}

.mono {
    position: absolute;
    right: -17.8em;
    top: 1em;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.body{
    display: flex;
    height: 48.75em;
    align-items: center;
    justify-content: center;
}

.redirectRegister{
    display: flex;
    text-align: center;
    justify-content: center;
}

