body {
    margin: 0;
    padding: 0;
    background-image: url("../images/fondos/RANKING.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.imagen{
    width: 10%;
}

.fondo::before,
.fondo::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 60%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.fondo::before {
    left: 15%;

}

.fondo::after {
    left: 65%;
    transform: translate(-50%, -50%);

}

.ranking-mundial, .historial {
    top: 39%;
    z-index: 4;
    width: 40%;
    text-align: center;
    color: white;
}

.ranking-mundial {
    width: 35%;

}

.historial {
    width: 35%;
}

.tabla-contenido {
    font-size: large;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #d4af37 25%, #f0e68c 25%, #f0e68c 50%, #d4af37 50%, #d4af37 75%, #f0e68c 75%, #f0e68c 100%);
    background-size: 200% 200%;
    animation: goldAnimation 5s ease-in-out infinite;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5), 0 0 40px rgba(255, 215, 0, 0.3);

    padding: 20px; /* Espaciado interno */
}


@keyframes goldAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.titulo-ranking, .historial h1 {

    margin: 0;
}

.tabla-ranking, .tabla-historial {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.tabla-ranking td, .tabla-historial td {
    text-align: center;
    color: white;
    padding-top: 6px;
}

.tabla-ranking tr, .tabla-historial tr {
    margin-bottom: 10px;
}

@media (max-width: 1448px) {
    .tabla-contenido {
        font-size: larger;
    }

    .tabla-ranking td, .tabla-historial td {
        padding-top: 12px;
    }
}

@media (max-width: 768px) {
    .fondo::before,
    .fondo::after {
        height: 40%;
        width: 40%;
    }

    .ranking-mundial {
        position: absolute;
        top: 41%;
        left: 0%;
        width: 70%;
    }

    .historial {
        position: absolute;
        top: 41%;
        left: 30%;
        width: 70%;
    }

    .tabla-contenido {
        font-size: small;
    }

    .tabla-ranking td, .tabla-historial td {
        padding: 0;
    }
}

@media (max-width: 425px) {
    .fondo::before,
    .fondo::after {
        width: 90%;
        left: 5%;
        height: 45%;
        transform: none;
    }

    .fondo::before {
        top: 20%;
    }

    .fondo::after {
        top: 60%;
    }

    .ranking-mundial {
        position: absolute;
        top: 33%;
        left: 15%;
        width: 70%;
    }

    .historial {
        position: absolute;
        top: 73%;
        left: 15%;
        width: 70%;
    }

    .tabla-contenido {
        font-size: small;
    }

    .tabla-ranking td, .tabla-historial td {
        padding-top: 3px;
    }
}

@media (max-width: 375px) {
    .fondo::before,
    .fondo::after {
        width: 90%;
        height: 45%;
        margin: 10px 0;
        transform: none;
    }

    .ranking-mundial {
        position: absolute;
        top: 35%;
        left: 15%;
        width: 70%;
    }

    .historial {
        position: absolute;
        top: 75%;
        left: 15%;
        width: 70%;
    }

    .tabla-contenido {
        font-size: small;
    }

    .tabla-ranking td, .tabla-historial td {
        padding-top: 3px;
    }
}

@media (max-width: 320px) {
    .fondo::before,
    .fondo::after {
        width: 100%;
        height: 45%;
        transform: none;
    }

    .ranking-mundial {
        position: absolute;
        top: 35%;
        left: 20%;
        width: 70%;
    }

    .historial {
        position: absolute;
        top: 75%;
        left: 20%;
        width: 70%;
    }

    .tabla-contenido {
        font-size: small;
    }

    .tabla-ranking td, .tabla-historial td {
        padding-top: 3px;
    }
}
