body {
    margin: 0;
    padding: 0;
    background-image: url("../images/fondos/RANKING.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mono {
    position: absolute;
    right: -17.88em;
    top: 5em;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}


.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.imagen{
    width: 10%;
}

.fondo::before,
.fondo::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 60%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.fondo::before {
    left: 15%;

}

.fondo::after {
    left: 65%;
    transform: translate(-50%, -50%);

}

.ranking-mundial, .historial {
    top: 39%;
    z-index: 4;
    width: 40%;
    text-align: center;
    color: white;
}

.ranking-mundial {
    width: 35%;

}



.historial {
    width: 35%;
}

.tabla-contenido {
    color: black;
    font-size: large;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #d4af37 25%, #f0e68c 25%, #f0e68c 50%, #d4af37 50%, #d4af37 75%, #f0e68c 75%, #f0e68c 100%);
    background-size: 200% 200%;
    animation: goldAnimation 5s ease-in-out infinite;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5), 0 0 40px rgba(255, 215, 0, 0.3);

    padding: 20px;
}


@keyframes goldAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.titulo-ranking, .historial h1 {

    margin: 0;
}

.tabla-ranking, .tabla-historial {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.tabla-ranking td, .tabla-historial td {
    text-align: center;
    color: white;
    padding-top: 6px;
}

.tabla-ranking tr, .tabla-historial tr {
    margin-bottom: 10px;
}

@media (max-width: 1440px) {
   .mono{
       position: absolute;
       right: 1.12em;
       top: 10em;
       height: 100%;
       z-index: -1;
       pointer-events: none;
   }

    .mono img{
        height: 700px;
    }

}

@media (max-width: 1024px) {
    .mono{
        position: absolute;
        right: 0.12em;
        top: 12em;
        height: 100%;
        z-index: -1;
        pointer-events: none;
    }

    .mono img{
       height: 700px;
    }
}

@media (max-width: 768px) {
    .mono{
        display: none;
    }

    .ranking-mundial {
        width: 80%;
    }
}
