body{
    background-image: url("../images/fondos/REGISTER.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.registerConteiner{
    margin: 2em 0em 2em auto;
    background-color: #be945b;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.tituloFormulario{
    text-align: center;
}

label{
    font-size: large;
}

.tituloFormulario{
    font-size: large;
}



button{
    background-color: #422f25 !important;
    color: white !important;

}

.mono{
    transform: scaleX(-1);
    max-width: 70%;
    height: auto;
    pointer-events: none;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
}



.juntos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}