body{
    background-image: url("../images/fondos/PARTIDA.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}



.conteiner{
    display: flex;
    height: 100vh;
    position: relative;
}

.mono{
    position: absolute;
    right: 70em;
    top: 1em;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 1440px) {

    .mono{
        position: absolute;
        right: 48em;
        top: 1em;
        height: 100%;
        pointer-events: none;
    }
}

@media (max-width: 1024px) {

    .mono{
        position: absolute;
        right: 27em;
        top: 1em;
        height: 100%;
        pointer-events: none;
    }
}

@media (max-width: 768px) {

    .mono{
        display: none;
    }
}